<table class="table" *ngIf="headers.length">
  <thead>
  <tr>
    <th>Key</th>
    <th>Value</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let headerInfo of headers">
    <td scope="row"><input class="form-control" type="text" [(ngModel)]="headerInfo.key"></td>
    <td><input class="form-control" type="text" [(ngModel)]="headerInfo.value"></td>
    <td>
      <button class="btn btn-danger" (click)="onDeleteHeader(headerInfo)"><i class="fa fa-trash"></i></button>
    </td>
  </tr>
  </tbody>
</table>

<button class="btn btn-primary ml-3 mb-3" (click)="onAddHeader()">Add header</button>


